<div class="modal-header">
  <button class="btn-close" (click)="bsModalRef.hide()"></button>
  <h2>{{ book.name }}</h2>
  <h4>{{ book.author }}</h4>
  <span>{{ book.quantity }}</span>
  <div class="modal-body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque delectus
      enim esse excepturi, impedit, iste magnam officia optio, quam quis
      quisquam saepe sint unde velit vitae! Animi in iusto ut?
    </p>
    <button type="button" class="btn btn-primary" popover="Vivamus sagittis">
      popover
    </button>
    <button type="button" class="btn btn-primary" tooltip="Vivamus sagittis">
      tooltip
    </button>
  </div>
</div>
